<div>
    <app-navbar></app-navbar>
    <div class="div-1 w-100">
        <div class="w-100 h-100 div-1-1">
            <h1 class="display-3 fw-bold text-white ">{{'welcomeMsg' | i18n:i18nService.currentLanguage}}</h1>
            <p class="text-white fs-5">{{'welcomePara' | i18n:i18nService.currentLanguage}}</p>
        </div>
    </div>
    <div class="container text-center pt-4 pb-4">
        <h5>{{'pathDate' | i18n:i18nService.currentLanguage}}</h5>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-4 div-2">
                <i class="ri-heart-2-line fs-1"></i>
                <h4>{{'join' | i18n:i18nService.currentLanguage}}</h4>
                <p>{{'joinPara' | i18n:i18nService.currentLanguage}}</p>
                <button class="btn btn-outline-dark p-2 fs-5">{{'joinbtn' | i18n:i18nService.currentLanguage}}</button>
            </div>
            <div class="col-4 div-3"><i class="ri-home-gear-line fs-1"></i>
                <h4>{{'location' | i18n:i18nService.currentLanguage}}</h4>
                <p>{{'locationPara' | i18n:i18nService.currentLanguage}}</p>
                <button class="btn btn-outline-dark p-2 fs-5">{{'locationbtn' |
                    i18n:i18nService.currentLanguage}}</button>
            </div>
            <div class="col-4 div-4"><i class="ri-hand-heart-line fs-1"></i>
                <h4>{{'giveBack' | i18n:i18nService.currentLanguage}}</h4>
                <p>{{'giveBackPara' | i18n:i18nService.currentLanguage}}</p>
                <button class="btn btn-outline-dark p-2 fs-5">{{'giveBackbtn' |
                    i18n:i18nService.currentLanguage}}</button>
            </div>
        </div>
    </div>
    <div class="container-fluid div-5">
        <p class="fs-5 text-warning fw-bold ">{{'groups' | i18n:i18nService.currentLanguage}}</p>
        <h1 class="display-6 fw-bold ">{{'groupsHead' | i18n:i18nService.currentLanguage}}
        </h1>
        <p>{{'groupsPara' | i18n:i18nService.currentLanguage}}</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-4 ">
                <div class="div-6">
                    <h2 class="text-white ">{{'care' | i18n:i18nService.currentLanguage}}</h2>
                </div>
            </div>

            <div class="col-4 ">
                <div class="div-7">
                    <h2 class="text-white ">{{'ourGroups' | i18n:i18nService.currentLanguage}}</h2>
                </div>

            </div>

            <div class="col-4 ">
                <div class="div-8">
                    <h2 class="text-white ">{{'serveCity' | i18n:i18nService.currentLanguage}}</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid div-5">
        <p class="fs-5 text-warning fw-bold ">{{'yourFamily' | i18n:i18nService.currentLanguage}}</p>
        <h1 class="display-6 fw-bold text-black  ">{{'yourFamilyHead' | i18n:i18nService.currentLanguage}}

        </h1>
        <p>{{'yourFamilyPara' | i18n:i18nService.currentLanguage}}

        </p>
    </div>
    <div class="container-fluid ">
        <div class="row">
            <div class="col-6">
                <div class="div-9">
                    <h1>{{'kids' | i18n:i18nService.currentLanguage}}</h1>
                </div>
            </div>
            <div class="col-6">
                <div class="div-10">
                    <h1>{{'youth' | i18n:i18nService.currentLanguage}}</h1>
                </div>
            </div>
        </div>
    </div>
</div>