<app-navbar></app-navbar>
<div class="div-1">

    <div class="container ">
        <div class="row pt-5">
            <div class="col-7">
                <h5 class="fw-bold display-5 text-white mb-3 ">{{'aboutpage' | i18n:i18nService.currentLanguage}}</h5>
                <p class="fs-5 text-white mb-5 ">{{'aboutpagetext' | i18n:i18nService.currentLanguage}}</p>
            </div>
        </div>

    </div>
</div>
<div class="container div-2 mb-5"></div>
<div class="container div-3 ">
    <div class="row">
        <div class="col-6">
            <h5 class="text-warning fw-bold ">{{'pathstory' | i18n:i18nService.currentLanguage}}</h5>
            <h2 class="text-black display-6   fw-bold ">{{'stand' | i18n:i18nService.currentLanguage}}</h2>
            <p class="fw-semibold  ">{{'standtext' | i18n:i18nService.currentLanguage}}</p>
        </div>
        <div class="col-6">
            <p class="mb-4 text fw-bold ">{{'standtext1' | i18n:i18nService.currentLanguage}}</p>
            <p class="text fw-bold ">{{'standtext2' | i18n:i18nService.currentLanguage}}
            </p>
        </div>
        <div class="d-flex justify-content-center mt-5">
            <button class="btn btn-outline-dark fw-bold meet-btn mb-5">{{'standbtn' |
                i18n:i18nService.currentLanguage}}</button>
        </div>
    </div>
</div>
<div class="container div-4 mt-5 ">
    <h5 class="fw-bold mb-3 ">{{'believe' | i18n:i18nService.currentLanguage}}</h5>
    <p class="fs-5 mb-5 ">{{'believetext' | i18n:i18nService.currentLanguage}}</p>
</div>
<div class="container">
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button shadow-none text-dark h2 fs-4 fw-bold " type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true"
                    aria-controls="collapseOne">
                    {{'aboutgod' | i18n:i18nService.currentLanguage}}
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    {{'aboutgodtext' | i18n:i18nService.currentLanguage}}
                </div>
            </div>
        </div>
        <div class="accordion-item  ">
            <h2 class="accordion-header " id="headingTwo">
                <button class="accordion-button shadow-none text-dark h2 fs-4 fw-bol collapsed" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
                    aria-controls="collapseTwo">
                    {{'abouthumanity' | i18n:i18nService.currentLanguage}}
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    {{'humanitytext' | i18n:i18nService.currentLanguage}}
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button shadow-none text-dark h2 fs-4 fw-bol collapsed" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false"
                    aria-controls="collapseThree">
                    {{'aboutsalvation' | i18n:i18nService.currentLanguage}}
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    {{'aboutsalvationtext' | i18n:i18nService.currentLanguage}}
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button shadow-none text-dark h2 fs-4 fw-bol collapsed" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false"
                    aria-controls="collapseThree">
                    {{'aboutchurch' | i18n:i18nService.currentLanguage}}
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    {{'aboutchurchtext' | i18n:i18nService.currentLanguage}}
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button shadow-none text-dark h2 fs-4 fw-bol collapsed" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false"
                    aria-controls="collapseThree">
                    {{'aboutbible' | i18n:i18nService.currentLanguage}}
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    {{'aboutbibletext' | i18n:i18nService.currentLanguage}}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid ">
    <div class="row">
        <div class="col-6 div-5 d-flex align-items-center ">
            <div class="row">
                <div class="col-6">
                    <h1 class="display-5 text pb-3 fw-bold text-white ">
                        {{'freedom' | i18n:i18nService.currentLanguage}}
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-6 div-6">
            <h4 class="text-warning mb-3 ">{{'ourcorevalues' | i18n:i18nService.currentLanguage}}</h4>
            <h3 class="display-5 fw-bold mb-5 ">{{'faith' | i18n:i18nService.currentLanguage}}</h3>
            <p class="mb-3 ">{{'faithtext' | i18n:i18nService.currentLanguage}}</p>

            <button class="btn meet-btn  btn-outline-dark">
                {{'faithbtn' | i18n:i18nService.currentLanguage}}
            </button>
        </div>
        <div class="col-6 div-7 ps-3 pt-3">
            <h4 class="text-warning mb-3 ">{{'ourcorevalues' | i18n:i18nService.currentLanguage}}</h4>
            <h3 class="display-6 fw-bold mb-5 ">{{'livinglife' | i18n:i18nService.currentLanguage}}</h3>
            <p class="mb-5 ">{{'livinglifetext' | i18n:i18nService.currentLanguage}}</p>

            <button class="btn mb-5  btn-outline-dark">
                {{'livingbtn' | i18n:i18nService.currentLanguage}}
            </button>
        </div>
        <div class="col-6 div-8 d-flex align-items-center ">
            <div class="row">
                <div class="col-6 position-relative ">
                    <h1 class="display-5 pb-3 text fw-bold text-white position-absolute">
                        {{'lone' | i18n:i18nService.currentLanguage}}
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="div-9 pb-3 pt-3">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-3 "></div>
            <div class="col-6 div-9">
                <i class="ri-crosshair-2-fill  text-white "></i>
                <strong class="fs-6 text-white">{{'vision' | i18n:i18nService.currentLanguage}}</strong>
                <h1 class="fw-bold text-white mt-5 ">{{'inspiring' | i18n:i18nService.currentLanguage}}
                </h1>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
</div>
<div class="container pt-5 ">
    <div class="row">
        <div class="col-7">
            <h1 class="fw-bold mb-3  fs-1">{{'ourteam' | i18n:i18nService.currentLanguage}}</h1>
            <p class="mb-5 fw-bold ">{{'ourteamtext' | i18n:i18nService.currentLanguage}}</p>
        </div>
    </div>

</div>
<div class="container mb-5">
    <div class="row">
        <div class="col-3 mb-3">
            <div class="card border-0 ">
                <div class="card-img-top"><img src="../../assets/mike-img.jpg" class="img-fluid " alt=""></div>
                <div class="card-title fw-bold ">{{'mike' | i18n:i18nService.currentLanguage}}
                </div>
                <div class="card-text">{{'mikeprof' | i18n:i18nService.currentLanguage}}</div>
            </div>
        </div>
        <div class="col-3 mb-3"></div>
        <div class="col-3 mb-3">
            <div class="card border-0 ">
                <div class="card-img-top"><img src="../../assets/priyanka.jpg" class="img-fluid" alt="">
                </div>
                <div class="card-title fw-bold ">{{'priyanka' | i18n:i18nService.currentLanguage}}
                </div>
                <div class="card-text">{{'actor' | i18n:i18nService.currentLanguage}}</div>
            </div>
        </div>
        <div class="col-3 mb-3">
            <div class="card border-0 ">
                <div class="card-img-top"><img src="../../assets/rgv.webp" class="img-fluid" alt="">
                </div>
                <div class="card-title fw-bold ">{{'rgv' | i18n:i18nService.currentLanguage}}
                </div>
                <div class="card-text">{{'rgvprof' | i18n:i18nService.currentLanguage}}</div>
            </div>
        </div>
        <div class="col-3 mb-3"></div>
        <div class="col-3 mb-3">
            <div class="card border-0 ">
                <div class="card-img-top"><img src="../../assets/brami.gif" class="img-fluid" alt="">
                </div>
                <div class="card-title fw-bold ">{{'bramii' | i18n:i18nService.currentLanguage}}
                </div>
                <div class="card-text">{{'memegod' | i18n:i18nService.currentLanguage}}</div>
            </div>
        </div>
        <div class="col-3 mb-3">
            <div class="card border-0 ">
                <div class="card-img-top"><img src="../../assets/venky.webp" class="img-fluid" alt="">
                </div>
                <div class="card-title fw-bold ">{{'venky' | i18n:i18nService.currentLanguage}}
                </div>
                <div class="card-text">{{'hero' | i18n:i18nService.currentLanguage}}</div>
            </div>
        </div>
        <div class="col-3 mb-3">
            <div class="card border-0 ">
                <div class="card-img-top"><img src="../../assets/rajamouli.avif" class="img-fluid" alt="">
                </div>
                <div class="card-title fw-bold ">{{'rajamouli' | i18n:i18nService.currentLanguage}}
                </div>
                <div class="card-text">{{'rgvprof' | i18n:i18nService.currentLanguage}}</div>
            </div>
        </div>
        <div class="col-3 mb-3">
            <div class="card border-0 ">
                <div class="card-img-top"><img src="../../assets/mike-img.jpg" class="img-fluid" alt="">
                </div>
                <div class="card-title fw-bold ">{{'rakesh' | i18n:i18nService.currentLanguage}}
                </div>
                <div class="card-text">{{'dance' | i18n:i18nService.currentLanguage}}</div>
            </div>
        </div>
        <div class="col-3 mb-3">
            <div class="card border-0 ">
                <div class="card-img-top"><img src="../../assets/allu.jpg" class="img-fluid" alt="">
                </div>
                <div class="card-title fw-bold ">{{'allu' | i18n:i18nService.currentLanguage}}
                </div>
                <div class="card-text">{{'panhero' | i18n:i18nService.currentLanguage}}</div>
            </div>
        </div>
        <div class="col-3 mb-3"></div>
        <div class="col-3 mb-3">
            <div class="card border-0 ">
                <div class="card-img-top"><img src="../../assets/rgv.webp" class="img-fluid" alt="">
                </div>
                <div class="card-title fw-bold ">{{'aggi' | i18n:i18nService.currentLanguage}}
                </div>
                <div class="card-text">{{'aggiprof' | i18n:i18nService.currentLanguage}}</div>
            </div>
        </div>
    </div>
</div>
<div class="div-10">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <strong class="fw-bold ">{{'staydate' | i18n:i18nService.currentLanguage}}</strong>
                <h2 class="fw-bold ">{{'stayhead' | i18n:i18nService.currentLanguage}}</h2>
                <p class="mb-5 "> {{'staytext' | i18n:i18nService.currentLanguage}}</p>
                <form action="" class="mb-5">
                    <label for="" class="form-label mb-3 fw-bold  ">{{'youremail' |
                        i18n:i18nService.currentLanguage}}</label>
                    <input type="text " class="form-control input1 ">
                </form>
                <button class="btn btn-dark fs-4">{{'staybtn' | i18n:i18nService.currentLanguage}}</button>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-6">
                        <div class="card border-0">
                            <div class="card-img-top">
                                <img src="../../assets/pic-10.webp" height="40px" class="img-fluid rounded-1  " alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card border-0">
                            <div class="card-img-top">
                                <img src="../../assets/pic-11.webp" height="40px" class="img-fluid w-100 rounded-1 "
                                    alt="">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>